<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
          class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form [formGroup]="formRegister">
          <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
            <p class="lead fw-normal mb-0 me-3">Entre com</p>
            <button type="button" class="btn btn-primary btn-floating mx-1">
              <i class="bi bi-facebook"></i>
            </button>

            <button type="button" class="btn btn-primary btn-floating mx-1">
              <i class="bi bi-twitter-x"></i>
            </button>

            <button type="button" class="btn btn-primary btn-floating mx-1">
             <i class="bi bi-google"></i>
            </button>
          </div>

          <div class="divider d-flex align-items-center my-4">
            <p class="text-center fw-bold mx-3 mb-0">Registro</p>
          </div>

          <!-- Email input -->
          <div class="form-outline mb-4">
            <input type="email" id="form3Example3" class="form-control form-control-lg" [ngClass]="{ 'is-valid': formRegister.get('email')?.valid ,'is-invalid': formRegister.get('email')?.errors && formRegister.get('email')?.touched  }" formControlName="email"
              placeholder="Entre com email válido" />
            <label class="form-label" for="form3Example3">Email</label>
            <div *ngIf="formRegister.get('email')?.hasError('required') && formRegister.get('email')?.touched" class="text-danger">
              Valor obrigatório
            </div>
            <div *ngIf="formRegister.get('email')?.hasError('email')" class="text-danger">
              Formato inválido
            </div>
            <div *ngIf="formRegister.get('email')?.valid" class="text-success">
              OK
            </div>
          </div>



          <!-- Password input -->
          <div class="form-outline mb-3">
            <input type="password" id="form3Example4" class="form-control form-control-lg" [ngClass]="{ 'is-valid': formRegister.get('password')?.valid ,'is-invalid': formRegister.get('password')?.errors && formRegister.get('password')?.touched  }" formControlName="password"
              placeholder="Entre com o password" />
            <label class="form-label" for="form3Example4">Password</label>
            <div *ngIf="formRegister.get('password')?.hasError('required') && formRegister.get('password')?.touched" class="text-danger">
              Valor obrigatório
            </div>
            <div *ngIf="formRegister.get('password')?.hasError('minlength')" class="text-danger">
              Mínimo 6 caracteres
            </div>
            <div *ngIf="formRegister.get('password')?.hasError('maxlength')" class="text-danger">
              Máximo 6 caracteres
            </div>
            <div *ngIf="formRegister.get('password')?.valid" class="text-success">
              OK
            </div>
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button [disabled]="!formRegister.valid" type="button" (click)="registrar()" class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;">Registrar</button>
            <p class="small fw-bold mt-2 pt-1 mb-0">Já tem conta ?<a routerLink="/"
                class="link-danger" style="margin-left: 10px;">Faça o login</a></p>
          </div>

        </form>
      </div>
    </div>
  </div>

</section>
