<app-titulo [titulo]="'Músicas'" [subtitulo]="'Alterar Música'"  [iconClass]="'bi bi-list-task'" [button]="true"></app-titulo>

<div class="container-fluid rounded shadow-lg bg-dark" data-bs-theme="dark">
  <div class="container-fluid">

  <form [formGroup]="formMusicaAlterar" (ngSubmit)="alterarMusica()">
    <fieldset>
      <legend>Alterar Música</legend>
      <div>
        <label for="nomeMusica" class="form-label mt-4">Música</label>
        <input type="text"
         class="form-control" id="nomeMusica" aria-describedby="" [ngClass]="{ 'is-valid': formMusicaAlterar.get('nomeMusica')?.valid ,'is-invalid': formMusicaAlterar.get('nomeMusica')?.errors && formMusicaAlterar.get('nomeMusica')?.touched  }" formControlName="nomeMusica">
      </div>
      <div *ngIf="formMusicaAlterar.get('nomeMusica')?.hasError('required') && formMusicaAlterar.get('nomeMusica')?.touched" class="text-danger">
        Valor obrigatório
      </div>
      <div *ngIf="formMusicaAlterar.get('nomeMusica')?.hasError('minlength')" class="text-danger">
        Mínimo 2 caracteres
      </div>
      <div *ngIf="formMusicaAlterar.get('nomeMusica')?.hasError('maxlength')" class="text-danger">
        Máximo 10 caracteres
      </div>
      <div *ngIf="formMusicaAlterar.get('nomeMusica')?.valid" class="text-success">
        OK
      </div>
      <div>
        <label for="cantor" class="form-label mt-4">Cantor</label>
        <input type="text"
         class="form-control" id="cantor" aria-describedby="" [ngClass]="{ 'is-valid': formMusicaAlterar.get('cantor')?.valid ,'is-invalid': formMusicaAlterar.get('cantor')?.errors && formMusicaAlterar.get('cantor')?.touched  }" formControlName="cantor">
      </div>
      <div *ngIf="formMusicaAlterar.get('cantor')?.hasError('required') && formMusicaAlterar.get('cantor')?.touched" class="text-danger">
        Valor obrigatório
      </div>
      <div *ngIf="formMusicaAlterar.get('cantor')?.hasError('minlength')" class="text-danger">
        Mínimo 2 caracteres
      </div>
      <div *ngIf="formMusicaAlterar.get('cantor')?.hasError('maxlength')" class="text-danger">
        Máximo 10 caracteres
      </div>
      <div *ngIf="formMusicaAlterar.get('cantor')?.valid" class="text-success">
        OK
      </div>
      <div>
        <label for="estilo" class="form-label mt-4">Estilo</label>
        <select class="form-select" id="estilo" formControlName="estilo">
          <option value="Introspectiva">Introspectiva</option>
          <option value="Animada">Animada</option>
        </select>
      </div>
      <div>
        <label for="dataCadastro" class="form-label mt-4">Data Cadastro</label>
        <div class="inputs">
          <input type="text" class="form-control" value="{{ formMusicaAlterar.value.dataCadastro| date:'dd/MM/yyyy' }}" style="width: 145px;" aria-describedby="" disabled>
          <input type="date" class="form-control" style="background-color: gray; width: 45px !important;" id="dataCadastro" aria-describedby="" formControlName="dataCadastro">
        </div>
      </div>
      <div class="button-cadastrar-pedido">
        <button type="submit" class="btn btn-primary">Alterar Musica</button>
      </div>

    </fieldset>
  </form>

</div>


