<app-titulo [titulo]="'Músicas'" [subtitulo]="'Lista de Músicas'" [iconClass]="'bi bi-list-task'" [button]="false"></app-titulo>

<div class="card rounded shadow-sm p-3 mb-4 mt-4">
  <div class="d-flex">
    <div class="flex-fill pr-3">
        <div class="input-group mb-2">
            <div class="input-group-prepend">
                <div class="input-group-text">Filtro: </div>
            </div>
            <!-- <input type="text" class="form-control" placeholder="Filtrar por nome" [(ngModel)]="filtroLista"> -->
            <input type="text" class="form-control" placeholder="Filtrar pelo nome da música" [(ngModel)]="filtroLista">
        </div>
    </div>
    <div class="custom-search">
        <a class="d-flex btn btn-outline-primary">
            <b class="ml-1 d-none d-sm-block" routerLink="/cadastrar-musicas"><i class="bi bi-plus-circle-fill custom-icon-circle-fill"></i>Novo</b>
            <i class="bi bi-plus-circle-fill custom-icon-circle-fill-mobile" routerLink="/cadastrar-musicas"></i>
        </a>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-hover">

      <thead>
          <tr>
              <!-- <th class="d-none d-md-table-cell">Id</th>
              <th class="d-none d-md-table-cell">SO</th> -->
              <th>Nome</th>
              <th>Cantor</th>
              <th>Estilo</th>
              <th>Data Cadastro</th>
              <th>Execuções</th>
              <th ><span style="margin-left: 30px;">Opções</span></th>
          </tr>
      </thead>

      <tbody>

          <ng-container>

              <tr *ngFor="let musica of musicasFiltradas| paginate
              : {
                  itemsPerPage: tableSize,
                  currentPage: page,
                  totalItems: count
                };
          let i = index" [ngClass]="{'activer-class': i == 0}">
                  <!-- <td class="d-none d-md-table-cell"><img src="https://localhost:7284/resources/images/{{item.imagemURL}}" width="120px" height="60px" alt=""></td> -->
                  <td>{{musica.nomeMusica}}</td>
                  <td>{{musica.cantor}}</td>
                  <td>{{musica.estilo}}</td>
                  <td>{{musica.dataCadastro | date:'dd/MM/yyyy'}}</td>
                  <td>{{musica.execucoes }}</td>
                  <td class="d-flex">
                      <!-- <button type="button" (click)="openModal(template, item.id)" class="btn btn-danger mb-3"> -->
                    <button type="button" (click)="openModal(template, musica.firebaseId)"  class="btn btn-danger mb-3">
                      <i style="font-size: 23px;" class="bi bi-trash"></i>
                    </button>
                    <button type="button" (click)="enviarDadosAlterarMusica(musica.firebaseId)" class="btn btn-warning ms-2 mb-3">
                      <i style="font-size: 23px;" class="bi bi-pen"></i>
                    </button>
                    <button type="button" class="btn btn-info ms-2 mb-3">
                      <i style="font-size: 23px;" class="bi bi-printer"></i>
                    </button>
                  </td>
              </tr>

          </ng-container>

      </tbody>

      <tfoot *ngIf="!musicas?.length">
          <tr>
              <td colspan="8" class="text-center">
                  <h4>Nenhuma musica encontrada !</h4>
              </td>
          </tr>
      </tfoot>

    </table>
  </div>

  <ng-template #template>
    <div class="modal-body text-center">
        <p>Confirma ?</p>
        <div class="custom-modal">
          <button type="button" class="btn btn-warning" (click)="confirme()">Sim</button>
          <button type="button" class="btn btn-primary" (click)="decline()">Não</button>
        </div>
    </div>
</ng-template>
<div class="d-flex justify-content-center bgc-white mb-3 p-2">
  <pagination-controls previousLabel="Anterior" nextLabel="Próxima"(pageChange)="onTableDataChange($event)"></pagination-controls>
</div>
</div>

