<div class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <a routerLink="dashboard" style="text-decoration: none;"><img class="navbar-brand logo" src="../../../assets/logo.svg" width="70px"><span class="logo-title" style="color: aliceblue; margin-top: 50px;">Vida Nova Music</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav">
        <li class="nav-item dropdown" data-bs-theme="light">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" id="themes">Musicas</a>
          <div class="dropdown-menu" aria-labelledby="themes">
            <a class="dropdown-item" routerLink="/listar-musicas">Listar</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/cadastrar-musicas">Cadastrar</a>
          </div>
        </li>
        <li class="nav-item dropdown" data-bs-theme="light">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" id="themes">Repertório</a>
          <div class="dropdown-menu" aria-labelledby="themes">
            <a class="dropdown-item" routerLink="/listar-repertorio">Listar</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/cadastrar-repertorio">Cadastrar</a>
          </div>
        </li>
        <li class="nav-item dropdown" data-bs-theme="light">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" id="themes">Usuários</a>
          <div class="dropdown-menu" aria-labelledby="themes">
            <a class="dropdown-item" routerLink="/listar-usuarios">Listar</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/cadastrar-usuarios">Cadastrar</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard">Dashboard</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-md-auto">
        <li class="nav-item">
          <a target="_blank" rel="noopener" class="nav-link" tabindex="1">{{ nome }}</a>
        </li>
        <li *ngIf="nome === null" class="nav-item">
          <a  rel="noopener" class="nav-link" tabindex="1"><span style="font-size: 15px; margin-top: 150px;">{{ email }}</span></a>
        </li>
        <li class="nav-item dropdown" data-bs-theme="light">
          <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="theme-menu" aria-expanded="false" data-bs-toggle="dropdown" data-bs-display="static" aria-label="Toggle theme">
            <img src="{{ imagem }}" width="30px" style="border-radius: 50%;" alt="">
            <i *ngIf="imagem === null"  class="bi bi-person-circle"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li>
              <button type="button" class="dropdown-item d-flex align-items-center" (click)="deslogar()" data-bs-theme-value="light" aria-pressed="false">
                <i class="bi bi-box-arrow-right"></i><span class="ms-2">Sair</span>
              </button>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
